# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### API code ###
/scr/data/dummy.txt
/scr/ect/dummy.txt
/scr/ect/dummy.py
